* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

#mainContainer {
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#PI {
    height: 100%;
    width: 20%;
}

.selfCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

#showContext {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

#showContext::-webkit-scrollbar {
    width: 5px;
}
#showContext::-webkit-scrollbar-track {
    background-color: #ffffff;
}
#showContext::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 25px;
}

#showCard {
    width: 90%;
    max-height: 50%;
    overflow: hidden;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-content: stretch;
    position: relative;
    margin: 1rem;
    padding: 1rem;
    background-color: #f5f2f2;
}

#showCard:hover {
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.1);
}

#showText {
    width: 90%;
}

#showText h4 {
    margin-bottom: 10px;
}

#showCard img {
    width: 90%;
    height: 60%;
    min-height: 50%;
    object-fit: cover;
}

#blockTag {
    width: 15%;
    height: 100%;
}


@media(max-width: 500px) {
    #mainContainer {
        width: 100%;
        height: 100vh;
        display: block;
        margin: auto;
        padding: 1rem;
    }
    #PI {
        width: 100%;
        position: relative;
        top: 0px;
        height: auto;
    }
    #showContext{
        width: 100%;
    }
    #showContext::-webkit-scrollbar {
        width: 0px;
    }
    #showCard {
        height: auto;
    }
    #showCard img {
        margin: 10px;
        display: block; /* 确保图像为块级元素，不会与周围的文字共用同一行 */
        margin-bottom: 20px; /* 为图像设置底部边距 */
    }
}